@{
    ViewData["Title"] = "Pills Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center mb-5">
    <div class="w-50 mt-5">
        <div class="input-group d-flex justify-content-center">
            <div class="d-flex">
                <form method="post" action="/Pills/ByName/1" class="d-flex">
                    <input autocomplete="off" value="@(ViewData["PillsFilter"])" type="text" name="PillsName" Id="PillsName" class="form-control" placeholder="Вкажіть назву ліків">
                    <button class="btn btn-outline-secondary ms-2" type="submit" value="Doctors">Знайти</button>
                </form>
                <form action="/Pills/All/1" class="d-flex ms-1"><button class="btn btn-outline-secondary ml-2" type="submit">Очистить</button></form>
            </div>
        </div>
    </div>
</div>


@if (Model.Count > 0)
{
    <div class="row row-cols-md-3 g-4 mb-5">
        @foreach (var pill in Model)
        {
            <div class="col">
                <div class="card">
                    <a asp-controller="Pills" asp-action="Details" asp-route-id="@pill.Id" class="text-decoration-none text-dark">
                        <img class="card-img-top" src="~/Pictures/Pills/@pill.Picture" alt="Card image cap" width="100" height="300">
                        <div class="card-body">
                            <h5 class="card-title">@pill.Name</h5>
                            <p class="card-text">@pill.FormFactor</p>
                            <p class="text-secondary text-end"><h5>Ціна при бронюванні: @pill.Price₴</h5></p>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            @if (ViewBag.CurPageNumber == "1" && ViewBag.LastPageNumber != "1")
            {
                <li class="page-item disabled">
                    <a class="page-link" asp-controller="Pills" asp-action="All">Previous</a>
                </li>
                @for (var i = int.Parse(ViewBag.CurPageNumber); i <= (int.Parse(ViewBag.LastPageNumber) < 3 ? int.Parse(ViewBag.LastPageNumber) : 3); i++)
                {
                    if (i == 1)
                    {
                        <li class="page-item active"><a class="page-link" href="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@i">@i</a></li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.NextPageNumber">Next</a>
                </li>
            }
            else if (ViewBag.LastPageNumber != "1")
            {
                <li class="page-item">
                    <a class="page-link" href="@ViewBag.PreviousPageNumber" tabindex="-1">Previous</a>
                </li>
                @for (var i = int.Parse(ViewBag.CurPageNumber) - 1; i <= (int.Parse(ViewBag.LastPageNumber) < 3 ? 3 : int.Parse(ViewBag.LastPageNumber)); i++)
                {
                    if (i == int.Parse(ViewBag.CurPageNumber))
                    {
                        <li class="page-item active"><a class="page-link" href="@i">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="@i">@i</a></li>
                    }
                }
                if (int.Parse(ViewBag.CurPageNumber) != int.Parse(ViewBag.LastPageNumber))
                {
                    <li class="page-item">
                        <a class="page-link" href="@ViewBag.NextPageNumber">Next</a>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="@ViewBag.NextPageNumber">Next</a>
                    </li>
                }
            }
        </ul>
    </nav>
}
else
{
    <div class="text-center d-flex flex-column bd-highlight mb-3 align-middle mt-6">
        <h1>Вибачте, </h1>
        <h2>за вашим запитом нічого не знайдено.</h2>
        <h2>Перевірте правильність вводу даних і спробуйте знову</h2>
    </div>
}