<div class="container">
    <div class="main-body">
        <div class="row gutters-sm mt-5">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="~/Pictures/Doctors/@Model.Picture" alt="Admin" class="rounded-circle" width="260">
                            <div class="mt-3">
                                <h4>@Model.Name</h4>
                                <p class="text-secondary mb-1">@Model.Position</p>
                                <p class="text-muted font-size-sm">@Model.Age років</p>
                                <button class="btn btn-primary">Записатись на прийом</button>
                                <button class="btn btn-outline-primary">Повідомлення</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mt-3">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-3">Що робити, якщо ваш лікар уже не працює?</h6>
                            <span class="text-secondary">Якщо лікар уже не працює, ваша декларація буде автоматично анульована. Оберіть іншого лікаря й повторіть із ним процес укладання декларації.</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-3">Чи можна обрати іншого лікаря за наявності діючої декларації?</h6>
                            <span class="text-secondary">Так. У разі підписання декларації з іншим лікарем попередня буде автоматично анульована.</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-3">Як розірвати декларацію без переукладання з іншим лікарем?</h6>
                            <span class="text-secondary">Надіслати <a href="https://nszu.gov.ua/gromadyanam/koristuvacham-ecoz/termination">звернення до НСЗУ.</a></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Повне ім'я</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.FullName
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Email
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Телефон</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @if (Model.Number == null || Model.Number == "")
                                {
                                    <p class="mb-0">Не вказаний</p>
                                }
                                else
                                {
                                    @Model.Number
                                }
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Адреса</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                @Model.Address
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row gutters-sm">
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i>Що треба знати про укладення декларацій?</i></h6>
                                <ul>
                                    <li>Декларація дає можливість отримувати гарантовані медичні послуги, за які сплачуватиме держава.</li>
                                    <li>Укласти декларацію можна з лікарями первинної ланки – це сімейний лікар (без вікових обмежень), терапевт (особи з 18 років), педіатр (діти до 18 років).</li>
                                    <li>Ви маєте право обрати лікаря, який надає первинну медичну допомогу, незалежно від місця реєстрації або проживання.</li>
                                    <li>Для дітей декларацію укладають батьки на ім’я дитини. Наявність декларації у батьків не впливає на вибір лікаря для дитини. Це може бути як їх сімейний лікар, так і інший лікар первинної ланки.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3">
                        <div class="card h-100">
                            <div class="card-body">
                                <h6 class="d-flex align-items-center mb-3"><i>Як укласти декларацію?</i></h6>
                                <p>
                                    Ми рекомендуємо наступні кроки:
                                </p>
                                <ul>
                                    <li>Зареєструйтеся на Saress Hospital, та заповніть свої дані в особистому кабінеті;</li>
                                    <li>Оберіть лікаря за власними критеріями та запишіться до нього на прийом;</li>
                                    <li>Прийдіть на прийом із документом, що посвідчує особу (наприклад, паспорт), номером платника податків та мобільним телефоном для отримання смс-підтвердження. (На цьому прийомі ви одразу можете отримувати медичні послуги).</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>